<!DOCTYPE html>
<html>
  <head>
    <title>Hackprac</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
   <div class="container">
      
      <p>
      <%= link_to "Home", root_path, :class => "waves-effect waves-light btn"%>
      <%= link_to "Login", new_user_session_path, :class => "waves-effect waves-light btn"%>
      <%=link_to "LogOut", destroy_user_session_path, :method => :delete , :class => "waves-effect waves-light btn"%>
      <%= link_to "Sign Up", new_user_registration_path, :class => "waves-effect waves-light btn"%>
      <%= link_to "View Trips Home", trips_path, :class => "waves-effect waves-light btn"%></p>

 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
